In [12]:
import pandas as pd
import numpy as np

In [13]:
url='https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'
chipo=pd.read_csv(url,sep='\t')

In [14]:
chipo.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

In [15]:
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

In [16]:
chipo.describe()

          order_id     quantity
count  4622.000000  4622.000000
mean    927.254868     1.075725
std     528.890796     0.410186
min       1.000000     1.000000
25%     477.250000     1.000000
50%     926.000000     1.000000
75%    1393.000000     1.000000
max    1834.000000    15.000000

In [21]:
chipo.loc[(chipo['choice_description'] == '[Diet Coke]') & (chipo['item_name'] == "Canned Soda")]

      order_id  quantity    item_name choice_description  item_price
162         73         2  Canned Soda        [Diet Coke]        2.18
200         89         1  Canned Soda        [Diet Coke]        1.09
317        138         1  Canned Soda        [Diet Coke]        1.09
350        150         2  Canned Soda        [Diet Coke]        2.18
370        160         1  Canned Soda        [Diet Coke]        1.09
779        321         1  Canned Soda        [Diet Coke]        1.09
1216       496         1  Canned Soda        [Diet Coke]        1.09
1662       672         1  Canned Soda        [Diet Coke]        1.09
1953       790         1  Canned Soda        [Diet Coke]        1.09
2135       859         2  Canned Soda        [Diet Coke]        2.18
2544      1009         1  Canned Soda        [Diet Coke]        1.09
2850      1132         1  Canned Soda        [Diet Coke]        1.09
3592      1440         2  Canned Soda        [Diet Coke]        2.18
3793      1518         1  Canned Soda        [Diet Coke]        1.09
4008      1604         1  Canned Soda        [Diet Coke]        1.09

In [25]:
if chipo['item_price'].dtype == 'object':
    chipo['item_price'] = chipo['item_price'].str.slice(1).astype(float)
chipo['product_price'] = chipo['item_price'] / chipo['quantity']

In [26]:
chipo.loc[(chipo["choice_description"] == '[Diet Coke]') & (chipo["item_name"] == "Canned Soda")]

,order_id,quantity,item_name,choice_description,item_price,product_price
162,73,2,Canned Soda,[Diet Coke],2.18,1.09
200,89,1,Canned Soda,[Diet Coke],1.09,1.09
317,138,1,Canned Soda,[Diet Coke],1.09,1.09
350,150,2,Canned Soda,[Diet Coke],2.18,1.09
370,160,1,Canned Soda,[Diet Coke],1.09,1.09
779,321,1,Canned Soda,[Diet Coke],1.09,1.09
1216,496,1,Canned Soda,[Diet Coke],1.09,1.09
1662,672,1,Canned Soda,[Diet Coke],1.09,1.09
1953,790,1,Canned Soda,[Diet Coke],1.09,1.09
2135,859,2,Canned Soda,[Diet Coke],2.18,1.09
2544,1009,1,Canned Soda,[Diet Coke],1.09,1.09
2850,1132,1,Canned Soda,[Diet Coke],1.09,1.09
3592,1440,2,Canned Soda,[Diet Coke],2.18,1.09
3793,1518,1,Canned Soda,[Diet Coke],1.09,1.09
4008,1604,1,Canned Soda,[Diet Coke],1.09,1.09

In [27]:
filtered_chipo=chipo.drop_duplicates(['item_name','choice_description'])

In [28]:
filtered_chipo = filtered_chipo.loc[ filtered_chipo["product_price"]>10.0 , ["item_name","choice_description","product_price"] ].reset_index(drop=True)
print(f"the number of products that cost more than $10.00 is {filtered_chipo.shape[0]}")

the number of products that cost more than $10.00 is 707

In [29]:
filtered_chipo[["item_name","choice_description","product_price"]]

,item_name,choice_description,product_price
0,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",10.98
1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",11.75
2,Chicken Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25
3,Chicken Burrito,"[[Tomatillo-Green Chili Salsa (Medium), Tomati...",10.98
4,Barbacoa Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",11.75
...,...,...,...
702,Carnitas Bowl,"[Roasted Chili Corn Salsa, [Rice, Sour Cream, ...",11.75
703,Barbacoa Bowl,"[Roasted Chili Corn Salsa, [Pinto Beans, Sour ...",11.75
704,Steak Burrito,"[Tomatillo Green Chili Salsa, [Rice, Cheese, S...",11.75
705,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75
706,Veggie Burrito,"[Tomatillo Green Chili Salsa, [Rice, Fajita Ve...",11.25

In [30]:
chipo.item_name.sort_values()

3389    6 Pack Soft Drink
341     6 Pack Soft Drink
1849    6 Pack Soft Drink
1860    6 Pack Soft Drink
2713    6 Pack Soft Drink
              ...
2384    Veggie Soft Tacos
781     Veggie Soft Tacos
2851    Veggie Soft Tacos
1699    Veggie Soft Tacos
1395    Veggie Soft Tacos
Name: item_name, Length: 4622, dtype: object

In [31]:
chipo.loc[chipo["item_price"].idxmax()]["quantity"]

np.int64(15)

In [32]:
chipo[chipo["item_name"]=="Veggie Salad Bowl"]["quantity"].sum()

np.int64(18)

In [33]:
chipo[ ( chipo["item_name"]=="Canned Soda" ) & ( chipo["quantity"]>1 )].shape[0]

20